.scroll-arrow {
   
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  .scroll-arrow.visible {
    opacity: 0;
  }
  


  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-1px);
    }
  }
  
  .bounce {
    animation: bounce 1s infinite;
  }
  